


:root {

    --main-color: #021526;
    --secondary-color: #03346E;
    --third-color: #37B7C3;
    --fourth-color: #E2E2B6;

}


*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .2s linear;
    
    
}

html{

    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    font-family: Noto Sans, sans-serif;
}

html::-webkit-scrollbar {

    width: .8rem;

}

html::-webkit-scrollbar-track {

    background: transparent;
}


html::-webkit-scrollbar-thumb {

    background: #fff;
    border-radius: 5rem;
}



body {

    background-color: var(--main-color);
    color: #F6F6F6;
    overflow-x: hidden;
}


/* HEADER */
.header {

    
    padding: 2% 0 0 13%;
    margin-left: -25px;

}

.header__menu {

    display: flex;
    gap: 30px;
}

.header__menu__link {

    width: 150px;
    text-align: center;
    font-family: var();
    padding: 7px;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--third-color);
    

}

.header__menu__link:hover {

    background-color: var(--third-color);
    color: var(--fourth-color);
    padding: 10px;
    border-radius: 10px;
}


/* PRESENTACIÓN */



.presentacion {

    display: flex;
    align-items: center;
    padding: 6% 15%;
    justify-content: space-between;
    gap: 82px;


}



.presentacion___contenido__titulo {

    text-align: left;
    font-size: 2.25rem;
    margin-bottom: 60px;
    font-family: var();
}

.titulo {

     margin-left: -241px;
    
}

.titulo-destaque {

    color: var(--third-color);
}

.presentacion__contenido__texto {

    font-size: 1.5rem;
    margin-bottom: 40px;
    font-family: var();
}

.presentacion__enlaces {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.presentacion__enlaces__subtitulo {

    font-family: var();
    font-size: 1.5rem;
    font-weight: 400;
    
}

.presentacion__enlaces__link {

    width: 60%;
    text-align: center;
    padding: 21.5px 5px;
    border-radius: 16px;
    margin-top: 20px;
    font-family: var();
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--third-color);
    border: 2px solid var(--third-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces__link:hover {

    background-color: var(--fourth-color);
    color: var(--main-color);
}


.presentacion__imagen{

    width: 50%;
    border-radius: 10px;
    margin-top: -396px;
    
}


/* ABOUT */

.presentacion__about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 144px;
    padding: 1rem;
}

.presentacion__contenido-imagen {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.presentacion__about__contenido {
    flex: 1;
    max-width: 60%;
    padding-right: 20px;
}

.presentacion___about__contenido__titulo {

    font-size: 2.25rem;
    margin-bottom: 60px;
}

.presentacion__about__contenido__texto {

    margin-bottom: 20px;
}


.presentacion__about__imagen {
    max-width: 30%;
    border-radius: 10px;
    margin-top: 9px;
    margin-right: 170px;
}

.habilidades {
    width: 100%;
    margin-top: -70px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.habilidades__titulo,
.formacion__titulo {

    margin-top: 10px;
    margin-bottom: 20px;
}


.habilidades__lista,
.formacion__lista {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.habilidades__elemento,
.formacion__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.habilidades__icono,
.formacion__icono {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

/* .css-icono {

    width: 40px;
    height: 40px;
}
 */
/* FOOTER */

.footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--third-color);
    color: var(--main-color);
    width: 100%;
    text-align: center;
    padding: 24px;
    font-family: var();
    font-size: 1.5rem;
    font-weight: 400;

}

.about {

    margin-bottom: 15px;
}


.contact {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.phone, .email {

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: -30px;
    
}


/* PORTAFOLIO */
.presentacion__portafolio {

    margin-top: 10px;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-left: 1rem;
    padding-right: 1rem;
}


.presentacion___portafolio__titulo {

    margin-left: 115px;
    margin-bottom: 60px;
    font-size: 2.25rem;
}



.portafolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.box {
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease
}

.box:hover {

    transform: scale(1.05);
}


.box__imagen {
    width: 100%;
    height: auto;
    object-fit: cover; /* To ensure the image fits nicely */
    border-radius: 8px;
}

.box__texto {
    text-align: center;
    margin-top: 10px;
}

.proyectos__nombre,
.proyectos__descripcion {

    margin-bottom: 20px;
}

.box__tecnologias {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
}

.box__tecnologias li {
    font-size: 24px;
    margin: 0 10px;
    list-style: none;
}

.box__botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-top: 25px;
    padding: 0;
    list-style: none;
}

.box__img a {
    font-size: 24px;
    color: var(--fourth-color);
    text-decoration: none;
}


/* FORMACION */

.formacion {
    width: 100%;
    margin-top: -20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formacion__elemento img {

    width: 90px;
    height: 90px;
}

#buap-logo{

    background:#fff;
    border-radius:50%;
}





@media(max-width: 1024px) {

    body {

        overflow-x: hidden;
    }

    .header{

        padding: 10%;
        padding-left: 12%;
    }

    
   .header__menu {
        justify-content: center;
        gap: 10px;
        margin-left: 7px;
        

    
    } 

    
    .presentacion {

        flex-direction: column-reverse;
        padding: 5%;

    }

    .presentacion__enlaces__link {

        width: 40%;
    }

    .presentacion__contenido {

        width: auto;
    }

    .presentacion___contenido__titulo {

        text-align: center;
        margin-bottom: 30px;
    }


    .presentacion__contenido__texto {

        text-align: center;
        text-align: left;
    }

    .presentacion__imagen {

        margin-top: 50px;
    }

    .presentacion___portafolio__titulo {

        text-align: center;
        margin-left: 10px;
    }

    .presentacion__about {

        flex-direction: column;
    }

    .presentacion__about {
        margin-left: 50px;
        padding: 1rem;
        flex-direction: column;
    }

    .presentacion__contenido-imagen {
        flex-direction: column;
    }

    .presentacion__about__contenido {
        max-width: 100%;
        padding-right: 0;
    }

    .presentacion___about__contenido__titulo {
        text-align: center;
    }

    .presentacion__about__imagen {
        max-width: 50%;
        margin-right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .habilidades,
    .formacion {
        align-items: center;
        margin-top: 20px;
    }

    .habilidades__titulo,
    .formacion__titulo {
        text-align: center;
    }


    .contact p {

        font-size: 1.3rem;
    }

    .titulo {

        margin-right: -238px;
    }

    .formacion__elemento {

        margin-bottom: 20px;
    }

 

    

}

@media(max-width: 480px) {


    .presentacion {

        flex-direction: column-reverse;
        padding: 5%;

    }



    .presentacion__enlaces__link {

        font-size: 1.3rem;
    }

    .presentacion__portafolio {

        margin-top: -100px;
    }

    .presentacion__imagen {

        margin-top: 50px;
    }


    .presentacion__about {
        margin-left: 10px;
        padding: 0.5rem;
        flex-direction: column;
    }

    .presentacion__about__contenido {
        max-width: 100%;
        padding-right: 0;
    }

    .presentacion___about__contenido__titulo {
        font-size: 2.25rem;
        margin-bottom: 30px;
        text-align: center;
    }

    .presentacion__about__contenido__texto {

        font-size: 1.5rem;
    }

    .presentacion__about__imagen {
        max-width: 60%;
        height: auto;
        margin-top: 10px;
        margin-right: 0;
        margin-left: 70px;
    }

    .habilidades,
    .formacion {
        margin-top: 20px;
        margin-bottom: 40px;
        align-items: center;
    }

    .habilidades__lista,
    .formacion__lista {
        gap: 10px;
    }

    .habilidades__icono,
    .formacion__icono {
        width: 30px;
        height: 30px;
    }

    .habilidades__titulo,
    .formacion__titulo {
        font-size: 1.25rem;
        text-align: center;
    }


    .email p {

        margin-left: 30px;
    }


 

}